#body {
  background: #232946;
  width:100%;

}

/* font-family: 'Kay Pho Du', serif;
font-family: 'Londrina Outline', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Kalnia', serif;
    font-family: 'Afacad', sans-serif;
    font-family: 'Rubik Glitch', system-ui;
*/

.terminal-parent {
  height: 100%;
  overflow: hidden;
  padding-left: 35px;
  padding-top: 35px;
}

#tip {
  color: #fffffe;
  font-family: 'Kay Pho Du', serif;
}

#banner {
  position: fixed;
  left: 45%;


  margin-top: 10px;
  font-size: 20px;

  font-family: 'Kay Pho Du', serif;
  color: white;

  z-index: 10;
}

#banner a {
  margin-right: 10px;
  cursor: pointer;
}

.terminal {
  background: transparent;
  color: #b8c1ec;
  max-width: inherit;
  max-height: inherit;
  font-size: 20px;
  word-break: break-all;

  padding-bottom: 10px;

  font-family: 'Roboto Mono', monospace;
}

.ls {
  display: block;
  font-size: 15px;
  color: #fffffe;
  padding-top: 5px;
  font-family: monospace;
}

input::placeholder {
  opacity: .2;
  color: #faedd4;
}

input {
  color: #fffffe;
  font-size: 20px;
  background: transparent;
  border: none;
  font-family: monospace;

  width: 50%;
  height: 25px;
  overflow: hidden;
  display:block

  top: 3px;
}

input:focus {outline:none;}

/* ABOUT */

#about {
}

#about-header {
  font-family: 'Londrina Outline', sans-serif;
  color: #4654ea;
  font-size: 200px;
  font-weight: 100;
  text-shadow: 4px 4px #750707, -4px -4px #074275;

  line-height: 80%;
}

#about-header-outline {
  /* font-family: 'Londrina Outline', sans-serif; */
  /* font-family: "Rubik Puddles", system-ui; */
  color: #4654ea;
  font-size: 200px;
  font-weight: 100;
  text-shadow: 4px 4px #750707, -4px -4px #074275;

  line-height: 80%;
}

#about-header-parent {
  width: 30%;
  overflow: hidden;
  overflow-wrap: break-word;

  position: relative;
  margin-left: 3%;
  margin-top: -8%;

  border-right: 1px solid #d1d1e9;
  display: inline-block;
}

#about-text-parent {
  display: inline-block;
  vertical-align:top;
  width: 60%;
  position: relative;
  left: 10px;
  top: 3vh;
}

#about-header-second {
  font-family: 'Kay Pho Du', serif;
  color: #94a1b2;

  font-size: 65px;
  text-align: center;
}

#about-text {
  color: #fffffe;
  font-family: 'Inter', sans-serif;
  margin-left: 10%;
  padding: 20px;
  line-height: 200%;
  outline: 1px solid white;
  border-radius: 15px;
}

/* PROJECTS */
.project {
  width: 77%;
  height: 90vh;
  position: fixed;
  left: 10%;
  top: 3vh;
  border-radius: 5px;
  padding: 20px;
  overflow: scroll;
}

#test-lock-main-img {
  /* box-shadow: 15px 15px 0px 0px; */
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.project-body {
  position: relative;
  top: 8%;
}

.project-bullet-points {
  position: relative;
  top: 50%;
  left: 30px;
  color: white;
  font-family: 'Afacad', sans-serif;
  font-size: 20px;
}

.project-text {
  display:inline-block;
  color: white;
  font-family: 'Afacad', sans-serif;
  font-size: 19px;
}

.project-title {
  font-size: 65px;
  color: white;
  text-decoration: underline;
  text-decoration-style: dashed;
}

.plus {
  width: 7.5%;
  float: left;
  height: 105vh;
  border-radius: 0px 5px 5px 0px;
  background: #1a2f5e;
  opacity: 0.75;
  position: absolute;
  transition: 0.6s ease;
  bottom: 3px;
  color: white;
}

.plus:hover {
  opacity: 1;
  cursor: pointer;
  width: 8%;
}

.arrow {
  font-size: 45px;
  position: absolute;
  top: 49.5%;
}

#next-slide-hint {
  right: 0;
}

#prev-slide-hint {
  left: 0;
}


.prev, .next {
  font-family: 'Kay Pho Du', serif;
  cursor: pointer;
  top: 48%;
  width: auto;
  margin-top: -22px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #f9bc60 ;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  user-select: none;

  background-color: black;

}

.next {
  border-radius: 1px 100px 100px 0px;
  padding-left: 10px;
  padding-right: 20px;
}
.prev {
  border-radius: 100px 1px 0px 100px;
  padding-right: 10px;
  padding-left: 20px;
}

/* BONUS */

#bonus {
  font-family: 'Afacad', sans-serif;
}

#bonus-title {
    font-family: "Rubik Glitch Pop", system-ui;
    font-size: 55px;
}

#bonus-title-text {
    font-size: 17px;
    width: 10vw;
    color: #00473e;
}

#story-text {
  font-family: 'EB Garamond', serif;
  background: white;
  border: 1px solid black;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  margin-right: 50px;
  margin-left: 30px;
  font-size: 20px;
  line-height: 1.4;

  padding-left: 10%;
  padding-right: 10%;

}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#tiny-terminal {
  position: absolute;

  bottom: 5%;
  width: 35%;
  height: 5%;
  outline: 2px solid #3da9fc;
  background: #232946;
  left: 32.5%;
  border-radius: 10px;

  display: inline-block;
  transition: all .3s ease 0s;

}

#tiny-terminal:hover {
  cursor: pointer;
  width: 36%;
  left: 32%;

  transition: all .3s ease 0s;
}

#tiny-terminal-text {
  color: #fffffe;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  color: #b8c1ec;
  padding-left: 20px;
  position: relative;
  top: 12%;
}

#cursor {
  width: 4px;
  height: 13px;
  outline: 3px solid white;
  background: white;
  animation: blinker 1.5s linear infinite;
  position: absolute;
  top: 25%;
  left: 102%;
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#nav-parent {
  width: 27%;
  position: absolute;
  bottom: 10%;
  left: 36.5%;
  height: 45px;
}

#normal-nav {
  overflow: none;
}

#nav {
  outline: 2px solid #b8c1ec;
  border-radius: 8px;

  color: #fffffe;
  text-align: center;

  -webkit-transition: opacity 500ms, visibility 600ms;
  transition: opacity 500ms, visibility 600ms;
}


.nav-button{
  margin: 10px;

  border-right: 1px solid white;
  padding-right: 20px;
  height: 100%;
  font-family: 'Kay Pho Du', sans-serif;
}

.nav-button-bonus{
  margin: 10px;
  height: 100%;
  font-family: 'Kay Pho Du', sans-serif;
}

.hamburger {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100vw;
 height: 100vh;
}

#hamburger-parent {
  position: absolute;
  bottom: 12%;
  left: 50px;
}

:root {
 --bar-bg: #d4d8f0;
}

.menu-icon {
color: white;
 position: relative;
 width: 50px;
 height: 50px;
 cursor: pointer;

 .menu-icon__cheeckbox {
   display: block;
   width: 100%;
   height: 100%;
   position: relative;
   cursor: pointer;
   z-index: 2;
   -webkit-touch-callout: none;
   position: absolute;
   opacity: 0;
 }
 div {
   margin: auto;
   position: absolute;
   right:0;
   bottom: 0;
   width: 22px;
   height: 12px;
 }
 span {
   position: absolute;
   display: block;
   width: 100%;
   height: 2px;
   background-color: var(--bar-bg, #ffffff);
   border-radius: 1px;
   transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

   &:first-of-type {
     top: 0;
   }
   &:last-of-type {
     bottom: 0;
   }
 }
 &.active,
 .menu-icon__cheeckbox:checked + div {
   span {
     &:first-of-type {
       transform: rotate(45deg);
       top: 5px;
     }
     &:last-of-type {
       transform: rotate(-45deg);
       bottom: 5px;
     }
   }
 }

 &.active:hover span:first-of-type,
 &.active:hover span:last-of-type,
 &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
 &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
   width: 22px;
 }

 &:hover {

   @media (min-width: 1024px) {
     span:first-of-type {
       width: 26px;
     }

     span:last-of-type {
       width: 12px;
     }
   }
 }
}

/* PHONE */
@media screen and (max-device-width: 500px){
  .terminal-parent {
    padding-left: 15px;
    padding-top: 15px;
  }
  .terminal {
    font-size: 13.5px;
  }
  input {
    font-size: 13.5px;

    width: 30%;

  }

  .ls {
    display: block;
    font-size: 13.5px;
    color: #fffffe;
    padding-top: 5px;
    font-family: monospace;
  }

  #about-header-parent {
    bottom: 75px;
    position: relative;
    width: 100%;
  }
  #about-text-parent {
    display: inline-block;
    vertical-align:top;
    width: 100%;
    position: relative;
    left: -27.5px;
    top: -15vh;
  }
  #tiny-terminal {
    position: fixed;
    top: 6%;
    left: 10%;
    width: 75%;
    height: 27px;
  }
  #tiny-terminal-text {
    font-size: 13.5px;
  }
  #cursor {
    width: 4px;
    height: 11px;
    top: 25%;
    left: 102%;
  }
}
